@import '../../../styles/variables';

$arrow-size: 0.5rem !default;
$selection-radius: 0.3125rem !default;
$selection-margin: 0.3125rem !default;
$ns: DateRangePicker !default;

.cdx-datepicker {
  margin-bottom: $componentMargin;
  margin-right: $componentMargin;
  color: $fontColor;
  width: $inputWidth;

  &.block {
    width: 100%;
  }

  &.long {
    width: $inputWidthLong;
  }

  &:last-child {
    margin-bottom: $sectionMargin;
  }

  .label {

    p,
    .optional {
      margin: 0;
      margin-bottom: $standardMargin;
    }

    p {
      font-size: 1rem;
    }

    .optional {
      line-height: 0;
      font-size: 0.875rem;
    }
  }


  .cdx-input {
    border-radius: $inputRadius;
    border: solid 0.0625rem $borderColor;
    background-color: #ffffff;
    height: $inputHeight;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    outline: none;

    background-image: url('../../../assets/icons/calendar-thin.svg');
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 1.5rem 1.5rem;


    &.small {
      font-size: 0.875rem;
      height: $inputHeightSmall;
    }

    &::placeholder {
      color: $borderColor;
      font-size: 0.875rem;
      font-style: italic;

    }

    &:focus {
      border: 0.0625rem solid $primaryColor;
    }

    &:disabled {
      background-color: $disabledColor;
    }

    &.error-input {
      border: 0.0625rem solid $errorColor;
    }
  }

  .container-popover {
    width: 28.125rem;
  }

}

.#{$ns} {
  display: inline-block;
  margin-bottom: 0.625rem;
  padding: 0;
  position: relative;
  user-select: none;

  &__Legend {
    color: #52575e;
    font-size: 0.875rem;
    line-height: 1rem;
    list-style-type: none;
    margin: 1.25rem 0;
    padding: 0;
  }

  &__LegendItem {
    display: inline-block;
    margin: 0 1.25rem;
  }

  &__LegendItemColor {
    border-radius: 50%;
    display: inline-block;
    height: 0.875rem;
    margin-right: 0.375rem;
    vertical-align: text-bottom;
    width: 0.875rem;
    border: 0.0625rem solid rgba(#000, .25);
  }

  &__PaginationArrow {
    border: 0;
    cursor: pointer;
    display: block;
    height: 2.1875rem;
    outline: none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 2.1875rem;
    z-index: 1;

    &--previous {
      left: 0.5rem;
      width: 1rem;
    }

    &--next {
      right: 0.5rem;
      width: 1rem;
    }

    &:hover {
      background-color: #ccc;
    }
  }

  &__PaginationArrowIcon {
    border-bottom: $arrow-size solid transparent;
    border-top: $arrow-size solid transparent;
    height: 0;
    position: absolute;
    top: 0.625rem;
    width: 0;

    &--is-disabled {
      opacity: .25;
    }

    &--previous {
      // border-left: $arrow-size solid transparent;
      // border-right: $arrow-size solid #aaa;
      // right: 1.875rem / 2 - ($arrow-size / 2);
      background-image: url('/assets/arrow-2-left-bold.svg');
      background-position: center;
      background-repeat: no-repeat;
      width: 1rem;
      height: 1rem;
    }

    &--next {
      // border-left: $arrow-size solid #aaa;
      // border-right: $arrow-size solid transparent;
      // left: 1.875rem / 2 - ($arrow-size / 2);
      background-image: url('/assets/arrow-2-right-bold.svg');
      background-position: center;
      background-repeat: no-repeat;
      width: 1rem;
      height: 1rem;
    }
  }

  &__Month {
    color: #333;
    display: inline-block;
    position: relative;
    user-select: none;
    width: 13.9375rem;
  }

  &__MonthHeader {
    color: #000;
    font-size: 0.875rem;
    font-weight: normal;
    height: 2.1875rem;
    line-height: 2.1875rem;
    position: relative;
    text-align: center;
    border-bottom: 0.0625rem solid #edf0f2;
    width: 13.9375rem;
    margin-bottom: 0.625rem;
  }

  &__MonthHeaderLabel {
    display: inline-block;
    position: relative;
  }

  &__MonthHeaderSelect {
    background: #e4e4e4;
    border: 0;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
  }

  &__MonthDates {
    // border-bottom: 0.0625rem solid #f4f5f6;
    border-collapse: separate;
    border-spacing: 0;
    // margin: 0;
    width: 13.9375rem;
    padding: 0 0 0 0.5rem;

  }

  &__WeekdayHeading,
  &__Date {
    font-size: 0.75rem;
    line-height: 1;
    // padding: 0.625rem 0;
    text-align: center;
    // width: 14.285714285714286%;
    width: 1.875rem;
    height: 1.875rem;
    padding: 0;
  }

  &__WeekdayHeading {
    // border-bottom: 0.0625rem solid #f4f5f6;
    color: #000;
    font-weight: normal;

    abbr[title] {
      border-bottom-width: 0;
      color: #000;
      cursor: pointer;
      font-size: 0.875rem;
      text-decoration: none;
    }
  }

  &__Date {
    // border: 0 solid #f4f5f6;
    border-right-width: 0.0625rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 1.875rem;
    height: 1.875rem;
    padding: 0;

    &:first-child {
      border-left-width: 0.0625rem;
    }

    &--weekend:last-child {
      // background-color: #f6f7f9;
      color: $errorColor;
    }

    &--otherMonth {
      opacity: .25;
    }

    &--is-disabled {
      color: #cdcdd1;
      cursor: default;
    }

    &--is-selected {
      background-color: $primaryColor;
    }

    &--is-highlighted {
      background-color: $primaryColor;
    }
  }

  &__CalendarDatePeriod {
    bottom: 0;
    position: absolute;
    top: 0;

    &--am {
      left: 0;
      right: 50%;
    }

    &--pm {
      left: 50%;
      right: 0;
    }
  }

  &__CalendarSelection {
    background-color: #289f97;
    // border: 0.0625rem solid darken(#289f97, 5);
    left: 0;
    position: absolute;
    right: 0;
    top: $selection-margin;
    top: 0;
    bottom: 0;

    &--inOtherMonth {
      opacity: .5;
    }

    &--start {
      // border-bottom-left-radius: $selection-radius;
      // border-right-width: 0;
      border-top-left-radius: 0.1875rem;
      border-bottom-left-radius: 0.1875rem;
      // left: $selection-margin;
      color: #fff;
    }

    &--end {
      // border-bottom-right-radius: $selection-radius;
      // border-left-width: 0;
      // border-top-right-radius: $selection-radius;
      // right: $selection-margin;
      border-top-right-radius: 0.1875rem;
      border-bottom-right-radius: 0.1875rem;
      color: #fff;
    }

    &--segment {
      border-left-width: 0;
      border-right-width: 0;
      background-color: #e4f7f6;
    }

    &--single {
      // border-radius: $selection-radius;
      left: $selection-margin;
      right: $selection-margin;
    }

    &--is-pending {
      // background-color: rgba(#ed5434, .75);
      border-width: 0;
    }
  }

  &__CalendarHighlight {
    background-color: none;
    border: none;
    bottom: $selection-margin;
    left: 0;
    position: absolute;
    right: 0;
    top: $selection-margin;

    &--inOtherMonth {
      opacity: .5;
    }

    &--start {
      border-bottom-left-radius: $selection-radius;
      border-right-width: 0;
      border-top-left-radius: $selection-radius;
      left: $selection-margin;
    }

    &--end {
      border-bottom-right-radius: $selection-radius;
      border-left-width: 0;
      border-top-right-radius: $selection-radius;
      right: $selection-margin;
    }

    &--segment {
      border-left-width: 0;
      border-right-width: 0;
    }

    &--single {
      // background-color: #fff;
      // border: 0.0625rem solid darken(#ed5434, 5);
      // border-radius: $selection-radius;
      left: $selection-margin;
      right: $selection-margin;
    }
  }

  &__HalfDateStates {
    bottom: -3.125rem;
    left: -3.125rem;
    position: absolute;
    right: -3.125rem;
    top: -3.125rem;
    transform: rotate(30deg);
  }

  &__FullDateStates {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 1.875rem;
    height: 1.875rem;
  }

  &__DateLabel {
    display: block;
    position: relative;
    text-align: center;
    width: 1.875rem;
    height: 1.875rem;
    z-index: 1;
    line-height: 1.875rem;
    margin: 0;
    font-size: 0.875rem;
  }
}