.content {
  margin-left: 6.875rem;
  padding: 2rem 1.5rem;
}

.side {
  background-color: var(--color-drawer);
  box-shadow: 0 0.125rem 0.25rem 0 rgba(72, 122, 157, 0.3);
  padding: 1.5rem;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 3.75rem;

  img {
    width: 5rem;
    position: fixed;
    left: 1.25rem;
    top: 1.5rem;
  }

}

.title {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}