.container {
  background-color: var(--white);
  border-radius: 0.3125rem;
  box-shadow: 0 0 0.0625rem 0 rgba(72, 122, 157, 0.42);
  margin-bottom: 1rem;
  overflow: hidden;
  padding-bottom: 1rem;
  transition: max-height 0.3s ease-in-out;
  width: 66.875rem;
}
.currency{
  width: 2rem;
  height: 0.875rem;
}
.empty-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}
.empty-image {
  display: flex;
  justify-content: center;
}
.empty-text {
  font-weight: bold;
  margin: 1rem 0;
  color: #c8d0e0;
}
.header-achievement {
  min-width: 11rem;
  padding: 0.9375rem 0 0.9375rem 0.5rem;
  text-align: center;
}
.header-metric {
  min-width: 21.5rem;
  padding: 0.9375rem 0 0.9375rem 0.5rem;
}
.header-null {
  min-width: 10.75rem;
  padding: 0;
}
.icon-product{
  margin-right: 0.5rem;
  height: 3rem;
  width: 3rem;
}
.paper {
  width: 66.875rem;
  margin-bottom: 1.5625rem;
}
.product-name {
  align-items: center;
  display: flex;
  margin: 0.375rem 0 0.28125rem;
  width: 30.1875rem;
}
.pagination {
  width: 66.875rem;
}
.sortIcon {
  margin-right: -10px;
}
.table {
  border-collapse: collapse;
  margin: 0 1rem;
  width: 65rem;
}
.table > tbody > tr > td, .table > thead > tr > th {
  padding: 0.9375rem 0;
  border: none; 
  text-align: left;
  width: 10.5rem;
}
.table-content {
  border: none; 
  border-collapse: collapse;
  margin: 0 1rem 1rem;
  max-width: 65rem;
  text-align: left;
}
.tbody tr:nth-child(odd) {
  background-color: var(--color-drawer);
}
.tr-first {
  width: 66.875rem;
}
.tr-two {
  border-bottom: solid 0.0625rem #c8d0e0;
  line-height: 0;
}
.th-first {
  color: #707a89;
  margin-bottom: 0.5rem;
}
.th-first1 {
  color: #707a89;
  font-size: 0.75rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  padding-left: 9.375rem;
}
.tribe-name {
  margin: 0.375rem 0 0.28125rem;
  width: 30.1875rem;
}
.th-level {
  padding: 0.9375rem 1rem;
  text-align: center !important;
  width: 21rem;
}
.td-level {
  padding: 0.9375rem 1rem;
  text-align: center !important;
  width: 21rem;
}
.td-action {
  color: #00a298;
  text-decoration: none;
  font-size: 0.8rem;
}