.modal-action {
  box-shadow: inset 0 .063rem 0 0 #e4e7eb;
  padding: 1rem !important;
}
.modal-action button {
  margin: 0 .5rem 0 0;
}
.modal-title {
  padding: 1rem 1.5rem !important;
}
.modal-content {
  margin-bottom: .5rem 1.5rem !important;
}
.modal-content-text {
  margin-bottom: .75rem !important;
}