.container {
  align-items: center;
  display: flex;
}
.content {
  background-color:#dee3ed;
  border-radius: 0.3125rem;
  height: 0.375rem;
  margin-right: 0.5rem;
  overflow: hidden;
  width: 17.5rem;
}
.success {
  background-color: var(--color-primary);
  height: 0.375rem;
  transition: width 0.25s;
  width: 6rem;
}
