
  .action-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .bootstrap-formLabel {
    color: BLACK;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    height: 14px;
    margin-bottom: 7px;
  }
  .bootstrapInput:focus {
    border-color: #707a89;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
  .bootstrapInput{
    border: 1px solid #707a89  !important;
    border-radius: 6;
    font-size: 16;
    padding: 10px 12px;
    width: 'calc(100% - 24px)',
  }
  .buttonClassName {
    background-color: lightseagreen;
    color: white;
    float: left;
    margin: 0;
    margin-top: 0;
    min-width: 120px;
  }
  .button-submit {
    margin-top: 40px;
  }
  .checkBox {
    border-radius: 50% !important;
    color: #707a89;
    height: 1rem;
    margin: 2rem 0;
  }
  .checked {
    color: #289f97;
  }
  .forgotLink {
    color: #811B33;
    display: inline-block;
  }
  .forgotPasswordText {
    align-self: flex-end;
    color: #289f97 !important;
  }
  .form {
    width: 320px;
    margin-top: 0 !important;
  }
  .form-control {
    margin-top: 0px !important;
  }
  .header-input {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    width: 20rem;
  }
  .hover-div {
    color: #FFFFFF !important;
    font-size: 12px !important;
    margin: 0;
    max-height: 44;
    max-width: 212;
  }
  .icon {
    cursor: pointer;
    float: right;
    padding-left: 0.3125rem;
  }
  .input-password-header {
    position: absolute;
  }
  .label {
    float: left;
    margin: 10px 0 0 0;
  }
  .login-button {
    height: 3rem;
  }
  .password-input {
    border: none;
    font-size: 1rem;
    height: 1rem;
    outline: none;
    width: 100%;
  }
  .password-input::placeholder {
    font-family: var(--font-size);
    font-size: 1rem;
    font-style: normal;
  }
  .red-textfield:input {
    box-shadow: 0 0 0 30px white inset !important;
    margin-top: 0px !important;
  }
  .red-textfield{
    align-items: center;
    border: 1px solid #f55151  !important;
    border-radius: 5px;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    margin-top: 0px !important;
    padding: 0 0.9375rem !important;
    width: 20rem;
  }
  .show-password {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
  }
  .show-password-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  .textfield:input {
    box-shadow: 0 0 0 30px white inset !important;
    margin-top: 0px !important;
  }
  .textfield {
    align-items: center;
    border: 0.0625rem solid grey !important;
    border-radius: 0.375rem;
    display: flex;
    font-size: 1rem;
    height: 3rem;
    justify-content: space-between;
    margin-top: 0 !important;
    outline: none;
    padding: 0 0.9375rem !important;
    width: 20rem;
  }
  .textfield::placeholder {
    font-family: var(--font-size);
    font-size: 1rem;
    font-style: normal;
  }
  .tooltip .place-left:after{
    border-left-width: 0px !important;
    margin-left: 0;
  }
  .tooltip {
    background-color: #425a70 !important;
    border-radius: 5;
    color: white !important;
    font-family: ubuntu;
    font-size: 12px;
    line-height: 0;
    max-width: 300;
    opacity: 1 !important;
    padding: 6px 8px;
  }
