.arrow {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem;
}
.main {
  align-items: center;
  display: flex;
  height: 2rem;
  justify-content: flex-end;
  width: 100%;
}
.page {
  margin-right: 1rem;
}
