.container {
  background-color: var(--white);
  border-radius: 0.3125rem;
  box-shadow: 0 0 0.0625rem 0 rgba(72, 122, 157, 0.42);
  padding: 1rem;
  width: 66.875rem;
}

.header {
  padding: 0.9375rem 1rem;
  border-top: solid 0.0625rem #c8d0e0;
  border-bottom: solid 0.0625rem #c8d0e0;
}

.objective-table {
  width: 5rem;
}

.progressbar-container {
  background-color: #dee3ed;
  border-radius: 0.3125rem;
  height: 0.375rem;
  width: 17.5rem;
}

.table {
  border-collapse: collapse;
  width: 66.875rem;
}

.table>td,
.table>th {
  padding: 0.9375rem 0 0.9375rem 1rem;
  text-align: left;
  width: 21rem;
}

.tbody>tr:nth-child(odd) {
  background-color: var(--color-drawer);
}