.empty-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}
.empty-image {
  display: flex;
  justify-content: center;
}
.empty-text {
  font-weight: bold;
  margin: 1rem 0;
  color: #c8d0e0;
}
.pagination {
  width: 66.875rem;
}
.sort-icon {
  cursor: pointer;
  margin-left: 0.5rem;
  width: 1.5rem;
}
.span-title {
  align-items: center;
  display: flex;
}
.span-title-custom {
  align-items: center;
  display: flex;
  width: 5rem;
}
.table {
  border-collapse: collapse;
  width: 66.875rem;
}
.table > tbody > tr > td, .table > thead > tr > th {
  padding-left: 0.5rem;
  text-align: left;
  width: 80rem !important;
}
.tbody tr:nth-child(odd) {
  background-color: var(--color-drawer);
}
.th-level {
  padding: 0.9375rem 0 0.9375rem 1rem;
  text-align: center;
  width: 21rem;
}
.td-level {
  padding: 0.9375rem 1rem;
  text-align: center !important;
  width: 21rem;
}
.td-action {
  color: #00a298;
  text-decoration: none;
  font-size: 0.8rem;
}
.title {
  width: 6.4375rem;
}
.title-achievement {
  width: 8.5625rem;
}
.title-action {
  text-align: center;
  width: 4.5rem;
}
.title-budget {
  width: 8rem;
}
.title-date {
  width: 4.5rem;
}
.title-member {
  width: 3.5rem;
}
.wrap-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 8.4375rem;
}
